body {
    font-family: Sans-Serif;
    padding-top:70px;
    line-height:1.5rem;
}


.home-page{
    margin-top:-15px;
    padding-top:35px;
}


.social-links.btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items:center;
    justify-content: center;
    padding: 12px;
    border: 5px;

}


.section-title{
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 2rem;
    position: relative;
    padding-top: 1rem;
}

.progress{
    height: 15px;
    border-radius: 15px;
}



.skill-items{
    margin-bottom: 1.5rem;
}

.card{
    border:none ;
    transition: transform;
}


.card:hover{
    transform:translatey(-5px);
}

.tech-tags{
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: auto;
}


@media(max-width:768px){
    .home-page{
        text-align: center;
        padding: 80px 0 50px 0;
  }
    .profile-img{
            width: 250px;
            height: 200px;
            margin-top: 2rem;
    }
      .section-title{